<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Change you secret key in this place -->
    <!--If this is bad idea sorry about this and send me please feedback-->
    <bean id="key" class="java.lang.String">
        <constructor-arg value="ConcordTestDevel" />
    </bean>

</beans>